.Splash{
    z-index: 40;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #fff;
    
  }

  .splash-video{
    width: 70%;

  }

  @media(max-width : 750px){
      .splash-video{
          width: 100%;
      }
  }